
.city-mattress-fpf,
.city-mattress-fpf * {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.city-mattress-fpf {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
}



/* Inner */

.city-mattress-fpf .inner-container {
    position: absolute;
    right: 50%;
    top: 50%;
    z-index: 0;

    height: 768px;
    width: 768px;
    margin-right: -384px;
    margin-top: -384px;
}

.size-320 .city-mattress-fpf .inner-container {
    -webkit-transform: scale(0.38, 0.38);
}

.size-480 .city-mattress-fpf .inner-container {
    -webkit-transform: scale(0.625, 0.625);
}

.size-600 .city-mattress-fpf .inner-container {
    -webkit-transform: scale(0.781, 0.781);
}

/*
.size-320 .city-mattress-fpf .inner-container {
    height: 320px;
    width: 320px;
    margin-right: -160px;
    margin-top: -160px;
}

.size-480 .city-mattress-fpf .inner-container {
    height: 480px;
    width: 480px;
    margin-right: -240px;
    margin-top: -240px;
}

.size-600 .city-mattress-fpf .inner-container {
    height: 600px;
    width: 600px;
    margin-right: -300px;
    margin-top: -300px;
}

.size-768 .city-mattress-fpf .inner-container {
    height: 768px;
    width: 768px;
    margin-right: -384px;
    margin-top: -384px;
}
*/

/* Outer */

.city-mattress-fpf .outer-container {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
}

/* Social */

.social-compontent-button {
    background: transparent url('http://i.usatoday.net/adsolutions/demo/wegmans_full_page_flex/images/social-icons-sprite.png') no-repeat top left;
    display: inline-block;
    height: 20px;
    overflow: hidden;
    text-indent: 105%;
    white-space: nowrap;
    width: 20px;
}

.social-compontent-button-facebook {
    background-position: top left;
}

.social-compontent-button-instagram {
    background-position: -20px 0;
}

.social-compontent-button-youtube {
    background-position: -40px 0;
}

.social-compontent-button-twitter {
    background-position: -60px 0;
    width: 22px;
}

.social-compontent-text {
    color: rgb(255,255,255);
    font-family: Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-style: italic;
    font-weight: bold;
    text-transform: uppercase;
}

/* Location */

.location-compontent-link {
    color: rgb(255,255,255);
    display: block;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px;
    padding-right: 53px;
    text-decoration: none;
    text-transform: uppercase;
}

.location-compontent-link:after {
    bottom: 0;
    content: url('http://i.usatoday.net/adsolutions/demo/wegmans_full_page_flex/images/location-compontent-link-icon.png');
    display: block;
    height: 49px;
    position: absolute;
    right: 0;
    width: 43px;
}

/* Creative */

.city-mattress-fpf .inner-container {
    background: transparent url('http://i.usatoday.net/adsolutions/demo/city_mattress_full_page_flex/images/city-mattress-inner-back.jpg') no-repeat top left;
}

.city-mattress-fpf .inner-container .cm-logo {
    left: 30px;
    position: absolute;
    top: 30px;
}

.city-mattress-fpf .inner-container .location-compontent {
    position: absolute;
    right: 49px;
    top: 46px;
}

.city-mattress-fpf .inner-container .social-compontent {
    position: absolute;
    right: 30px;
    top: 70px;
}

.city-mattress-fpf .inner-container .cm-cta {
    bottom: 0;
    left: 0;
    position: absolute;
    right: 0;
    top: 103px;
}

.city-mattress-fpf .outer-container {
    background: rgb(33,28,28) url('http://i.usatoday.net/adsolutions/demo/city_mattress_full_page_flex/images/city-mattress-background.png') repeat top left;
}
